/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a global font family and set font sizes */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.restaurant{
  height: 100vh;
  width: 100vw;
  padding:50px;
  text-align: center;
}
.restaurant h1{
  color: #ff6347;
}
.restaurant p{
  color: #555;
}
.restaurant h3{
  color: #000080 ;
}
.restaurant .waiting{
  padding:20vh 20vw;
}

/* Style the container */
.container {
/* width:100vw; */
width: 100%;
  margin: 2vh auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(55deg, red, green, blue);
  color: white;
  

}

/* Style the header and sub-header */
h1, h2 {
  font-weight: bold;
}

.sub-header {
  font-size: 1.5rem;
}

/* Style the card areas for dealer and player */
.cards_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  
}

.dealer, .player {
  display: flex;
  gap: 2%;
  margin-top: 1rem;
}

/* Style individual cards */
.card1, .card2, .card3, .card4, .card5 {
  width: 10%;
  max-width: 120px; /* Limit card width */
  border: 1px solid black;
  margin: auto;
}

/* Style game buttons */
.game_buttons {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 2rem;
}

/* Style the "New Game" button */
#start {
  background-color: #007bff; /* Blue button color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Style hidden buttons (Hit and Stay) */
#hit,
#stay {
  background-color: #28a745; /* Green button color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: none; /* Initially hidden */
  transition: background-color 0.3s ease;
}

#hit:hover,
#stay:hover {
  background-color: #1e7e34; /* Darker green on hover */
}
